<!DOCTYPE html>

<html>
    <head>
        <title>Help</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/style.css">
    </head>
        <body>
            <div class="main-content">
                {{>header}}
            <p>
            This weather forecasting is done using very famous API. 
            <ul>
                <li>openweathermap</li>
            </ul>
            </p>
            <p>
                Go check out <a href="https://openweathermap.org/" class="btnwrap">&nbsp; openweathermap &nbsp;</a> it is really amazing.
            </p>
            <p>
                Here is the link of <a href="https://github.com/Sumit80076/Weather-Website"  class="btnwrap">&nbsp; Weather-Forecast project &nbsp;</a> (Github repository)
            </p>
            <p>
                If you have any issues you can contact me on my email-id sumitpawar_20515@aitpune.edu.in . </a>
            </p>
            </div>
            {{>footer}}
        </body>
</html>